html {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
}

#a {
  height:150px;
  width:2000px;
  background-color:green;
}
#b {
  height:100px;
  width:2000px;
  background-color:yellow;
}
#c {
  height:100px;
  width:2000px;
  background-color:blue;
}

#d {
  height:500px;
  width:500px;
}
